<div class="log-in-content">
  <h2>Log In</h2>
  <div class="row">
    <form action="user/login" class="col s12" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input name="username" type="text" class="validate">
          <label>Username:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" type="password" class="validate">
          <label>Password:</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn-large login-module-btn">Submit</button>
    </form>
  </div>
</div>