<nav class="">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/user/homepage">Home</a></li>
      <li><a href="/news-feed/all">News Feed</a></li>
    </ul>
    <form class="search" action="/user/search" method="POST">
      Search: <input type="text" name="search">
      <button class="waves-effect waves-light btn-large search-btn"> search</button>
    </form>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="username-display" href="/user/profile">Hi, {{user.username}}</a></li>
      <li>
        <form action="/user/logout" method="POST">
          <button class="waves-effect waves-light btn-large logout"> Log Out</button>
        </form>
      </li>
    </ul>
  </div>
</nav>