<div class="home-page-content">
  <div class="all-homepage-content">
    <div class="welcome">
      <h1>Welcome to Link Saver</h1>
      <p>An app that saves your bookmarks in a clean and simple way, and allows you to view how others save
        theirs.
      </p>
      <img src="/images/mock.png" alt="">
    </div>
    <div class="login-signup-buttons">

      <div class="signup-button">
        <h3>Sign Up</h3>
        {{#if msg}}
        <p class='error'>
          {{msg}}
        </p>
        {{/if}}
        {{#if success}}
        <p class='success'>
          {{success}}
        </p>
        {{/if}}
        <form action="/user/sign-up" class="col s12" method="POST" enctype="multipart/form-data">
          <div class="row index-form">
            <div class="input-field col s12">
              <input name="firstName" type="text" class="validate">
              <label>First Name:</label>
            </div>
            <div class="input-field col s12">
              <input name="lastName" type="text" class="validate">
              <label>Last Name:</label>
            </div>
            <div class="input-field col s12">
              <input name="username" type="text" class="validate">
              <label>Username:</label>
            </div>
            <div class="input-field col s12">
              <input name="email" type="text" class="validate">
              <label>Email:</label>
            </div>
            <div class="input-field col s12">
              <input name="password" type="password" class="validate">
              <label>Password:</label>
            </div>
            <div class="input-field col s12 upload">
              <p>Profile Pic:</p>
              <div class="input-container">
                <input class="upload" type="file" name="profilePic" id='real-input'>
                <a class="browse-btn">
                  Browse Files
                </a>
                <span class="file-info">Upload a file</span>
              </div>
            </div>
          </div>
          <button class="waves-effect waves-light btn-large sign-up-btn">sign up</button>
        </form>
        <hr class="homepage-break">
      </div>
      <div class="login">
        <h5>Have an Account? Login below</h5>
        <a class="waves-effect waves-light btn modal-trigger login-btn" href="#modal1">Login</a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            {{> login}}
          </div>
          <div class="modal-footer">
            <a href="#modal1" class="modal-close waves-effect waves-green btn-flat">close</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>