@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #4e6766; }

a {
  color: #00b7ff; }

.all-homepage-content {
  display: flex;
  justify-content: space-evenly;
  padding: 0 50px;
  min-height: 100vh; }

.home-page-content {
  background: linear-gradient(286deg, white 48%, #2edbaf 48%); }

.welcome {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.welcome p {
  font-size: 20px;
  width: 68%;
  margin-top: 0; }

.welcome img {
  margin-top: 50px;
  width: 100%; }

.login {
  text-align: center; }

.login h5 {
  font-size: 15px; }

.login-signup-buttons {
  width: 27%;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.14);
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px; }

.login-signup-buttons h3 {
  color: #4e6766;
  text-align: center; }

.login-btn {
  background-color: transparent !important;
  border: 2px solid #57e2e5;
  border-radius: 5px;
  color: #57e2e5;
  width: 100px;
  margin-top: 10px;
  box-shadow: none; }

input.validate.valid {
  border-bottom: 1px solid #57e3e5bb !important;
  box-shadow: 0 1px 0 0 #57e3e5bb !important;
  color: #4e6766 !important; }

input.validate {
  border-bottom: 1px solid #2de3b286 !important;
  box-shadow: 0 1px 0 0 #2de3b286 !important;
  color: #4e6766 !important; }

form label {
  color: #4e6766 !important; }

.homepage-break {
  margin-top: 20px;
  border-color: #57e3e52a;
  margin-bottom: 30px; }

nav {
  background-color: #713afc !important; }

.username-display {
  font-size: 25px !important; }

.logout {
  background-image: linear-gradient(to right, #2edbaf, #57e2e5);
  line-height: 0;
  height: 40px;
  margin-right: 20px;
  border-radius: 5px; }

.search-btn {
  background-image: linear-gradient(to right, #2edbaf, #57e2e5);
  line-height: 0;
  height: 40px;
  border-radius: 5px;
  padding: 0 !important;
  width: 20%; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #4e6766;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 16px; }

nav a {
  background-color: transparent !important;
  color: #fff !important;
  padding: 0 20px !important;
  font-size: 20px !important; }

nav input:-webkit-autofill,
nav input:-webkit-autofill:hover,
nav input:-webkit-autofill:focus,
nav textarea:-webkit-autofill,
nav textarea:-webkit-autofill:hover,
nav textarea:-webkit-autofill:focus,
nav select:-webkit-autofill,
nav select:-webkit-autofill:hover,
nav select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 100px #713afc inset !important;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 16px; }

nav input {
  color: #fff;
  background-color: transparent; }

.nav-wrapper {
  background-color: transparent !important;
  color: #fff;
  box-shadow: none !important;
  display: flex;
  justify-content: space-between;
  padding: 0 10px; }

#nav-mobile li a {
  color: #fff !important; }

.sign-up-btn,
.login-module-btn,
.edit-folder-module-btn {
  background-image: linear-gradient(to right, #2edbaf, #57e2e5) !important;
  width: 100%;
  line-height: 0;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px; }

#modal1 {
  width: 30%; }

.modal-content {
  padding-bottom: 0px !important; }

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%; }

.search input {
  margin-right: 30px !important; }

.dashboard {
  min-height: 100vh;
  padding: 20px; }

.dashboard h2 {
  margin: 0;
  font-size: 30px;
  color: #2edbaf; }

.error {
  background-color: rgba(255, 0, 0, 0.37);
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  border-radius: 5px; }

.success {
  background-color: #2edbb096;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  border-radius: 5px; }

.bookmark-content {
  color: #4e6766; }

.bookmark-content h2 {
  margin-bottom: 20px; }

.dashboard {
  display: grid;
  grid-template-columns: 0.9fr 4fr;
  padding: 0; }

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-right: 2px solid #8888883b;
  margin: 20px 0; }

.user-content {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 30px;
  grid-auto-rows: 240px;
  justify-content: center !important; }

.user-btn {
  background-image: linear-gradient(to right, #2edbaf, #57e2e5);
  width: 100%;
  margin: 20px 0;
  border-radius: 5px; }

.add-btn-container {
  border-bottom: 2px solid #8888883b; }

.create-group {
  margin-bottom: 30px; }

.add-bookmark {
  margin-top: 30px; }

.input-container {
  max-width: 300px;
  background-color: #ededed;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  height: 25px; }

input[type="file"] {
  display: none; }

.file-info {
  font-size: 0.9em;
  padding: 3px;
  height: 20px !important; }

.browse-btn {
  background: #2edbaf;
  color: #fff;
  max-height: 10px !important;
  padding: 3px 5px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.browse-btn:hover {
  background: #4ec0b4; }

.upload {
  height: 100px;
  margin: 0; }

.card img {
  width: 100px !important;
  border-radius: 50% !important;
  align-self: center !important;
  padding: 3px !important;
  height: 100px; }

.card-content .card-title {
  color: #4e6766 !important;
  font-size: 25px;
  font-weight: bold; }

.card {
  width: 300px !important;
  color: #4e6766 !important;
  border-radius: 0 0 5px 5px !important; }

.card a {
  color: #713afc !important; }

.card-image {
  background-image: linear-gradient(to right, #2edbaf, #57e2e5) !important;
  height: 100px;
  border-radius: 5px 5px 0 0 !important;
  display: flex;
  justify-content: center;
  align-items: center; }

.bookmark-options {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.edit-delete-buttons {
  display: flex; }

.edit-delete-buttons button {
  margin-left: 10px; }

.edit-delete-buttons button {
  background-image: linear-gradient(to right, #57e2e5, #57e2e5); }

.edit-delete-buttons .red {
  background-image: linear-gradient(to right, #a682ff, #a682ff) !important; }

.bookmark-content a {
  color: #fff !important; }

.bookmark-content ul li a {
  color: #2edbaf !important; }

.all-folders {
  width: 100% !important; }

.folder {
  background-image: linear-gradient(to right, #713afc, #a682ff) !important;
  width: 100% !important;
  margin: 10px 0;
  border-radius: 5px; }

.dropdown-content {
  width: 150px !important; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4e6766;
  list-style-type: none;
  padding: 0 20px;
  border-top: 2px solid #8888883b; }

footer ul {
  display: flex;
  color: #4e6766;
  align-items: center; }

footer ul li a {
  margin: 20px;
  text-decoration: none;
  color: #4e6766;
  transition: all 0.2s ease-in-out; }

footer ul li a:hover {
  color: #4be7df; }

.all-content {
  min-height: 100vh; }

.folder-name {
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.total-user-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%; }

.one-user-card {
  margin-top: 20px;
  display: flex;
  justify-content: center; }

.user-card-single {
  display: flex;
  padding: 20px;
  color: #4e6766;
  width: 50%;
  justify-content: space-evenly;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px; }

.user-card-single h3,
h4 {
  margin: 0;
  margin-bottom: 20px; }

.user-card-single .card-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14); }

.user-card-single .social-info a:first-child {
  margin-right: 10px; }

.user-card-single .social-info a {
  color: #2edbaf; }

.private-bookmarks {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 30px;
  grid-auto-rows: 240px;
  justify-content: center !important; }

.one-user-card h5 {
  padding: 0 50px; }

.search-content {
  padding: 20px; }

.user-card-all {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.user-card .card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14); }

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  background-color: #4e6766;
  color: #fff; }

.user-names {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.card-content {
  width: 100%;
  padding: 0 10px; }

.private-folders {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 30px;
  grid-auto-rows: 200px;
  justify-content: center !important; }

.folder-card .card-image {
  height: 100px;
  display: flex;
  color: #fff !important;
  justify-content: center;
  align-items: center;
  color: #4e6766;
  background-image: linear-gradient(to right, #713afc, #a682ff) !important; }

.folder-card {
  border-radius: 5px !important; }

.folder-card .card-content {
  border-radius: 0 0 5px 5px !important;
  min-height: 80px; }

.folder-edit-delete-buttons {
  justify-content: center;
  display: flex; }

.folder-edit-delete-buttons button {
  margin: 0 20px; }

.folder-edit-delete-buttons button {
  background-color: #57e2e5 !important; }

.folder-edit-delete-buttons .red {
  background-color: #a682ff !important; }

.folder-btns {
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  color: #fff; }

.save-button button {
  background-color: #57e2e5; }

/*# sourceMappingURL=style.css.map */